@page
@model RazorPagesMovie.Pages.Actors.CreateModel

@{
    ViewData["Title"] = "Create Actor";
}

<h1>Create New Actor</h1>

<div class="row">
    <div class="col-md-6">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            
            <div class="form-group">
                <label asp-for="Actor.Name" class="control-label"></label>
                <input asp-for="Actor.Name" class="form-control" />
                <span asp-validation-for="Actor.Name" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Actor.DateOfBirth" class="control-label"></label>
                <input asp-for="Actor.DateOfBirth" class="form-control" />
                <span asp-validation-for="Actor.DateOfBirth" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
                <a asp-page="Index" class="btn btn-secondary">Back to List</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}