@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the Movies Application</h1>
    <p>To View a List of our Movies, you can follow the navigation above or Click <a class="text-bold" asp-page="/Movies/Index"> Here</a></p>
</div>
